:root{
    --cor-main-bg:#7C62CE;
    --font-color: seashell;
    --font-family: 'Montserrat', sans-serif;
    --button-color:#130540;
    --color-details:#E0BC0D;
    /* var(--font-color-area-destaque) */
    
}

/* GERAL */
html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
   
}

body {
   /* background-color: #582A72; */
   background-color: #F0F0F0;
   background-repeat: no-repeat;
}
    body header{
        display: flex;
        justify-content: center;


    }
        body header .title{
        border: none;
        border-radius: 5px;
        background-color: rgba(226, 71, 97, 0.849);
        margin-top: 1.5rem;
        width: 20%;
        padding: 1%;
        }

        body header .title h1{
        text-align: center;
        color: var(--font-color);
        }
        
        body .atu-bg{
            z-index: -2;
            position: absolute;
        }
        body .atu-bg img{
          
            height: 80vh;
            width: 40vw;
        }

        body #crhonos{
            display: none;
            justify-content: center;
            margin-top: 0.8rem;
           

        }
        body #progress{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 0;
            height: 1.5rem;
            width: 40rem;
            border: solid 2px black;
            border-radius: 15px;
            background-color: lightgray;
            position: relative;
        }
        
        body #progress #progress-bar{
           position: absolute;
           height: 99%;
           border-radius: 15px;
           background-color: #add555;
           animation: progress-animation 11s normal;
        }
        body .progress-bar::before{
            content: "";
            
            transition: 0.4s linear;
        }
        
        @keyframes progress-animation{
            0% { width: 0%; background-color: #add555;}
            30% { width: 45%; background-color: yellow;}
            50% { width: 75%; background-color: coral;}
            100% { width: 100%; background-color: red;}
        } 

        body #all {
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 1.0rem;
            margin-top: 1.3rem;
        }
    
        body h3 {
        color: seashell;
        }   

        #tudo {
            width: 50rem;
            height: 25rem;
            margin-top: 1.6rem;
            border-radius: 10px;
            align-items: center;
            background-color: rgba(104, 101, 101, 0.4);
        }

        
        #questions {
        background-color: rgba(226, 71, 97, 0.849);
        padding: 0.8rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        border: solid 3px lightgray;
        }

        #buttons {
            text-align: center;  
        }

        #atuTwo, #atuThree, #atuFour, #atuFive, #atuSix, #atuSeven, #atuEight, #atuNine, #atuTen{
        display: none;
        }

        #maraOne, #maraTwo, #maraThree, #censuraOne, #censuraTwo, #censuraThree, #pixOne, #pixTwo, #pixThree, #parisOne, #parisTwo, #parisThree, #covidOne, #covidTwo, #covidThree, #auxOne, #auxTwo, #auxThree,  #pantaOne, #pantaTwo, #pantaThree, #golpeOne, #golpeTwo, #golpeThree, #jobOne, #jobTwo, #jobThree, #marsOne, #marsTwo, #marsThree{ 
        margin-top: 0.5rem;
        margin: 1rem auto;
        text-align: center;
        font-size: 1.2rem;
        height: 67px;
        width: 30rem;
        border: 1px solid #97C274;
        border-radius: 5px;
        cursor: pointer;
        outline: rgb(255, 255, 255);   
        color: rgb(2, 2, 2);
        }

        #maraTwo:active, #censuraOne:active, #pixTwo:active, #parisThree:active, #covidThree:active, #pantaOne:active, #auxOne:active, #golpeOne:active, #jobOne:active, #marsTwo:active{
            background-color: green !important;
        }

        #maraOne:active, #maraThree:active, #censuraTwo:active, #censuraThree:active, #pixOne:active, #pixThree:active, #parisOne:active, #parisTwo:active, #covidOne:active, #covidTwo:active, #pantaTwo:active, #pantaThree:active, #golpeTwo:active, #golpeThree:active, #jobTwo:active, #jobThree:active, #marsOne:active, #marsThree:active{
            background-color: red !important;
        }

        .botoes-verificacao{
            display: flex;
            justify-content: center;
            margin-top: 0;
        }
            /* botão da quinta questão */

            #cronometroJs {
                background-color: rgb(72, 72, 177);
                border: 2px solid transparent;
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bolder;
                margin: 10px;
                padding: 1em 2em;
                text-align: center;
                text-transform: uppercase;
                outline: none;
            }

            #cronometroJs:hover {
                background-color: rgb(83, 83, 153)
            }

            
            #vamo{
                background-color:rgba(226, 71, 97, 0.849);
                border: 2px solid rgba(226, 71, 97, 0.849);
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 0.7rem;
                font-weight: bolder;
                padding: 0.4rem 0.4rem;
                text-align: center;
                text-transform: uppercase;
                outline: none;

            }
    
            #limpar {
                background-color: rgba(226, 71, 97, 0.849);
                border: 2px solid rgba(226, 71, 97, 0.849);
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bolder;
                margin: 10px;
                padding: 1em 2em;
                text-align: center;
                text-transform: uppercase;
                outline: none;
                  }

                  #limpar {
                    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                  }
                  #limpar:hover {
                      color: seashell;
                    box-shadow: 0 0 40px 40px #e06890  inset;
                  }
           
        
            #next {
                background-color: rgba(226, 71, 97, 0.849);
                border: 2px solid rgba(226, 71, 97, 0.849);
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bolder;
                margin: 10px;
                padding: 1em 2.9em;
                text-align: center;
                text-transform: uppercase;
                outline: none;
            }
                #next {
                -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                }
                #next:hover {
                color: seashell;
                box-shadow: 0 0 40px 40px #e06890  inset;
                }
            
                #verificar {
                    background-color: rgba(226, 71, 97, 0.849);
                    border: 2px solid rgba(226, 71, 97, 0.849);
                    border-radius: 0.6em;
                    color: seashell;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: bolder;
                    margin: 10px;
                    padding: 1em 2em;
                    text-align: center;
                    text-transform: uppercase;
                    outline: none;
                }
                #verificar {
                    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    }
                    #verificar:hover {
                    color: seashell;
                    box-shadow: 0 0 40px 40px #e06890  inset;
                    }

        body .clock{
            display: flex;
            justify-content: flex-end;
            top: 0;
            margin: 0;
        }
        #counter{
           position: absolute;
           display: none;
           top: 0;
           color: var(--font-color);
           margin: 25px 5% 10px 10px;
           padding: 3%;
           border: solid 2px  rgb(67, 61, 77);
           background-color:  rgb(67, 61, 77);
           border-radius: 100px;

          
            
        }

        #acertando {
            display: none;
            color: rgb(194, 192, 192);
            border: none;
            background-color: #069;
            height: 3rem;
            width: 12rem;
            border-radius: 5px;
            cursor: pointer;
            margin: 10rem auto;
            text-align: center;
            font-size: 1.5rem;
        }

        #popUp {
        
                background-color: rgb(0, 0, 0, 0.7);
                border-radius: 7px;
                width: 30rem;
                color: white;
                font-weight: bold;
                display: none;
                height: 20rem;
                display: none;
                margin: 2rem auto;
                line-height: 17rem;
        }

/* Hovers */ 
#maraOne:hover, #maraTwo:hover, #maraThree:hover, #censuraOne:hover, #censuraTwo:hover, #censuraThree:hover, #pixOne:hover, #pixTwo:hover, #pixThree:hover, #parisOne:hover, #parisTwo:hover, #parisThree:hover, #covidOne:hover, #covidTwo:hover, #covidThree:hover, #pantaOne:hover, #pantaTwo:hover, #pantaThree:hover, #golpeOne:hover, #golpeTwo:hover, #golpeThree:hover, #jobOne:hover, #jobTwo:hover, #jobThree:hover, #marsOne:hover, #marsTwo:hover, #marsThree:hover{
    background-color: rgb(223, 223, 223);
}

#acertando:hover {
    background-color: rgb(6, 98, 129);
}
