:root{
    --cor-main-bg:#7C62CE;
    --font-color: seashell;
    --font-family: 'Montserrat', sans-serif;
    --button-color:#130540;
    --color-details:#E0BC0D;
    
}

/* GERAL */
html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
   
}
/*FIM DO RESET*/

        body{
            background: #7C62CE;
            
        }

        body header{
            display: flex;
            justify-content: center;
            height: 5vh;

        }
           
            body header img{
                margin-top: -3%;
                height: 14vh;
                width: 50vw ;

            }
        
        body .disciplinas{
            height: 78vh;
            display: flex;
            flex-direction: column ;
            align-items: center;
            flex-wrap: wrap;

        }
        body h2{
            color: var(--font-color);
            text-align: center;
            margin: 10% 0 2% 0;
            font-size: 1.3rem;
        }
            body .disciplinas a button{
            background-color: var(--button-color);
            color: var(--font-color);
            font-weight: bold;
            line-height: 1%;
            font-size: 1rem;
            height: 12vh;
            width: 25vw;
            padding: 8%;
            margin-top: 3%;
            margin-bottom: 2%;
            border: none;
            border-radius: 10px 10px 0 0;
            outline: none;
            position: relative;
            cursor: pointer;

            }
            body .disciplinas button::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 7px;
                background-color: var(--color-details);
                transition: transform 300ms ease-in-out;
              
                transform: scaleX(0);
              }

              body .disciplinas button:hover::before,
              body .disciplinas button:focus::before {
                  transform: scaleX(1);
                }

            body footer .footbar{
                text-align: center;
                font-size: 0.7rem;
                color: var(--font-color);
                margin-top: 5rem;

            }

     @media screen and (min-width: 425px) {
        body .disciplinas{
            padding: 5%;
        }
        body h2{
            margin-top: 10%;
        }
     }
     
     @media screen and (min-width: 768px) {
        body header img {
            margin-top: -3%;
            height: 26vh;
            width: 53vw;
        }
    
        body h2 {
            margin-top: 11%;
            margin-left: 4%;
            font-size: 2rem;
        }
        body .disciplinas {
            padding: 1% 4%;
            height: 70%;
            flex-direction: row;
            justify-content: space-between;
        }
        body .disciplinas button{
            height: 5vh;
            width: 25vw;
            padding: 5%;
            
        }
     }
    @media screen and (min-width: 1000px) {
        body header img {
            margin-top: 0%;
            height: 23vh;
            width: 33vw;
        }
        body h2 {
            
            margin: 8% 0% 2% 0%;
            font-size: 2rem;
        }
        body .disciplinas button{
            padding: 3%;
            margin-bottom: 0.5%;
        }

     }