:root{
    --cor-main-bg:#7C62CE;
    --font-color: seashell;
    --font-family: 'Montserrat', sans-serif;
    --button-color:#130540;
    --color-details:#E0BC0D; 
}

/* GERAL */
html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
   
}

body {
 
   background-color: #F0F0F0;
   background-repeat: no-repeat;
}
    body header{
        display: flex;
        justify-content: center;


    }
        body header .title{
        border: none;
        border-radius: 5px;
        background-color: #C96262;
        margin-top: 0.6rem;
        width: 20%;
        padding: 1%;
        }

        body header .title h1{
        text-align: center;
        color: var(--font-color);
        }

        body .math-bg{
            z-index: -2;
            position: absolute;
        }
        body .math-bg img{
          
            height: 80vh;
            width: 40vw;
        }    

        body #all {
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 1.0rem;
        
        }
    
        body h3 {
        color: seashell;
        }   

        #tudo {
            width: 50rem;
            height: 25rem;
            margin-top: 1.6rem;
            border-radius: 10px;
            align-items: center;
            background-color: rgba(104, 101, 101, 0.4);
        }

        
        #questions {
        background-color: #C96262;
        padding: 0.8rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        border: solid 3px lightgray;
        }

        #buttons {
            text-align: center; 
     
        }

        #meses, #math, #mathTwo, #mathThree, #mathFour, #mathFive, #mathSix, #mathSeven, #mathEight, #quimTwo, #quimThree, #quimFour, #quimFive, #quimSix, #quimSeven, #quimEight, #quimNine, #quimTen, #fisTwo, #fisThree, #fisFour , #fisFive, #fisSix, #fisSeven, #fisEight, #fisNine, #fisTen {
        display: none;
        
        }

         #calorOne, #calorTwo, #calorThree, #calorFour, #calorFive, #calorSix, #solOne, #solTwo, #solThree, #fogoOne, #fogoTwo, #fogoThree, #luzOne, #luzTwo, #luzThree, #forcaOne, #forcaTwo, #forcaThree, #somOne, #somTwo, #somThree, #planetaOne, #planetaTwo, #planetaThree, #tempoOne, #tempoTwo, #tempoThree, #romanoOne, #romanoTwo, #romanoThree {
        margin-top: 0.5rem;
        margin: 1rem auto;
        text-align: center;
        font-size: 1.2rem;
        height: 77px;
        width: 31rem;
        border: 1px solid #97C274;
        border-radius: 5px;
        cursor: pointer;
        outline: rgb(255, 255, 255);   
        color: rgb(2, 2, 2);
        }

        #calorTwo:active, #calorFour:active, #solTwo:active, #fogoThree:active, #luzThree:active, #forcaOne:active, #somThree:active, #planetaTwo:active, #tempoThree:active, #romanoOne:active {
            background-color: green !important;
        }

        #calorOne:active, #calorThree:active, #calorFive:active, #calorSix:active, #solOne:active, #solThree:active, #fogoTwo:active, #fogoOne:active, #luzTwo:active, #luzOne:active, #forcaTwo:active, #forcaThree:active, #somTwo:active, #somOne:active, #planetaOne:active, #planetaThree:active, #tempoTwo:active, #tempoOne:active, #romanoTwo:active, #romanoThree:active {
            background-color: red !important;
        }

        .botoes-verificacao{
            display: flex;
            justify-content: center;
            margin-top: 0;
        }
            /* botão da quinta questão */

            #cronometroJs {
                background-color: #4831a3;
                border: 2px solid transparent;
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bolder;
                margin: 10px;
                padding: 1em 2em;
                text-align: center;
                text-transform: uppercase;
                outline: none;
            }

            
            #vamo{
                background-color: #6f5d8b;
                border: 2px solid #6f5d8b;
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 0.7rem;
                font-weight: bolder;
                padding: 0.4rem 0.4rem;
                text-align: center;
                text-transform: uppercase;
                outline: none;

            }
    
            #limpar {
                background-color: #C96262;
                border: 2px solid #C96262;
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bolder;
                margin: 10px;
                padding: 1em 2em;
                text-align: center;
                text-transform: uppercase;
                outline: none;
                  }

                  #limpar {
                    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                  }
                  #limpar:hover {
                      color: seashell;
                    box-shadow: 0 0 40px 40px #996969 inset;
                  }
           
        
            #next {
                background-color: #C96262;
                border: 2px solid #C96262;
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bolder;
                margin: 10px;
                padding: 1em 2.9em;
                text-align: center;
                text-transform: uppercase;
                outline: none;
            }
                #next {
                -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                }
                #next:hover {
                color: seashell;
                box-shadow: 0 0 40px 40px #c78787 inset;
                }
            
                #verificar {
                    background-color: #C96262;
                    border: 2px solid #C96262;
                    border-radius: 0.6em;
                    color: seashell;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: bolder;
                    margin: 10px;
                    padding: 1em 2em;
                    text-align: center;
                    text-transform: uppercase;
                    outline: none;
                }
                #verificar {
                    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    }
                    #verificar:hover {
                    color: seashell;
                    box-shadow: 0 0 40px 40px #886262 inset;
                    }

        body .clock{
            display: flex;
            justify-content: flex-end;
            top: 0;
            margin: 0;
        }
        #counter{
           position: absolute;
           display: none;
           top: 0;
           color: var(--font-color);
           margin: 25px 5% 10px 10px;
           padding: 3%;
           border: solid 2px  rgb(67, 61, 77);
           background-color:  rgb(67, 61, 77);
           border-radius: 100px;

          
            
        }

        #acertando {
            display: none;
            color: rgb(194, 192, 192);
            border: none;
            background-color: #069;
            height: 3rem;
            width: 12rem;
            border-radius: 5px;
            cursor: pointer;
            margin: 10rem auto;
            text-align: center;
            font-size: 1.5rem;
        }

        #popUp {

                background-color: rgb(0, 0, 0, 0.7);
                border-radius: 7px;
                width: 30rem;
                color: white;
                font-weight: bold;
                display: none;
                height: 20rem;
                display: none;
                margin: 2rem auto;
                line-height: 17rem;
        }

/* Hovers */ 
 #calorOne:hover, #calorTwo:hover, #calorThree:hover, #calorFour:hover, #calorFive:hover, #calorSix:hover, #solOne:hover, #solTwo:hover, #solThree:hover, #fogoOne:hover, #fogoTwo:hover, #fogoThree:hover, #luzOne:hover, #luzTwo:hover, #luzThree:hover, #forcaOne:hover, #forcaTwo:hover, #forcaThree:hover, #somOne:hover, #somTwo:hover, #somThree:hover, #planetaOne:hover, #planetaTwo:hover, #planetaThree:hover, #tempoOne:hover, #tempoTwo:hover, #tempoThree:hover, #romanoOne:hover, #romanoTwo:hover, #romanoThree:hover {
    background-color: rgb(223, 223, 223);
}

#acertando:hover {
    background-color: rgb(6, 98, 129);
}