:root{
    --cor-main-bg:#7C62CE;
    --font-color: seashell;
    --font-family: 'Montserrat', sans-serif;
    --button-color:#130540;
    --color-details:#E0BC0D;
    
}

/* GERAL */
html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
   
}

body {
   /* background-color: #582A72; */
   background-color: #F0F0F0;
   background-repeat: no-repeat;
}
    body header{
        display: flex;
        justify-content: center;


    }
        body header .title{
        border: none;
        border-radius: 5px;
        background-color: #f7ca4e;
        margin-top: 1.5rem;
        width: 20%;
        padding: 1%;
        }

        body header .title h1{
        text-align: center;
        color: var(--font-color);
        }

        body .hist-bg{
            z-index: -2;
            position: absolute;
        }
        body .hist-bg img{
          
            height: 80vh;
            width: 40vw;
        }

        body #all {
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 1.0rem;
            margin-top: 1.3rem;
        }
    
        body h3 {
        color: seashell;
        }   

        #tudo {
            width: 50rem;
            height: 25rem;
            margin-top: 1.6rem;
            border-radius: 10px;
            align-items: center;
            background-color: rgba(104, 101, 101, 0.4);
        }

        
        #questions {
        background-color: #f7ca4e;
        padding: 0.8rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        border: solid 3px lightgray;
        }

        #buttons {
            text-align: center;  
        }

        /* tirar o primeiro e incluir o id das perguntas inglês */
        #histTwo, #histThree, #histFour, #histFive, #histSix, #histSeven, #histEight, #histNine, #histTen {
        display: none;
        }

        /* colocar o id dos botões */
        #secOne, #secTwo, #secThree, #nobelOne, #nobelTwo, #nobelThree, #raioOne, #raioTwo, #raioThree, #minasOne, #minasTwo, #minasThree, #saddamOne, #saddamTwo, #saddamThree, #indOne, #indTwo, #indThree, #anosOne, #anosTwo, #anosThree, #virusOne, #virusTwo, #virusThree, #astroOne, #astroTwo, #astroThree, #inventOne, #inventTwo, #inventThree{
        margin-top: 0.5rem;
        margin: 1rem auto;
        text-align: center;
        font-size: 1.2rem;
        height: 67px;
        width: 30rem;
        border: 1px solid #97C274;
        border-radius: 5px;
        cursor: pointer;
        outline: rgb(255, 255, 255);   
        color: rgb(2, 2, 2);
        }

        .botoes-verificacao{
            display: flex;
            justify-content: center;
            margin-top: 0;
        }

        /* hover com id dos acertos */
        #secThree:active, #nobelOne:active, #raioOne:active, #minasThree:active, #saddamOne:active, #indTwo:active, #anosThree:active, #virusThree:active, #astroThree:active, #inventOne:active {
            background-color: green !important;
        }

        /* hover dos botões com alternativa erradas */
        #secOne:active, #secTwo:active, #nobelTwo:active, #nobelThree:active, #raioTwo:active, #raioThree:active, #minasOne:active, #minasTwo:active, #saddamTwo:active, #saddamThree:active, #indOne:active, #indThree:active, #anosOne:active, #anosTwo:active, #virusOne:active, #virusTwo:active, #astroOne:active, #astroTwo:active, #inventTwo:active, #inventThree:active {
            background-color: red !important;
        }
            /* botão da quinta questão */

            #cronometroJs {
                background-color: rgb(72, 72, 177);
                border: 2px solid transparent;
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bolder;
                margin: 10px;
                padding: 1em 2em;
                text-align: center;
                text-transform: uppercase;
                outline: none;
            }

            #cronometroJs:hover {
                background-color: rgb(83, 83, 153)
            }

            
            #vamo{
                background-color: rgb(49, 49, 214);
                border: 2px solid rgb(32, 32, 221);
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 0.7rem;
                font-weight: bolder;
                padding: 0.4rem 0.4rem;
                text-align: center;
                text-transform: uppercase;
                outline: none;

            }
    
            #limpar {
                background-color: #f7ca4e;
                border: 2px solid #f7ca4e;
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bolder;
                margin: 10px;
                padding: 1em 2em;
                text-align: center;
                text-transform: uppercase;
                outline: none;
                  }

                  #limpar {
                    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                  }
                  #limpar:hover {
                      color: seashell;
                    box-shadow: 0 0 40px 40px #1b124ed8  inset;
                  }
           
        
            #next {
                background-color: #f7ca4e;
                border: 2px solid #f7ca4e;
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bolder;
                margin: 10px;
                padding: 1em 2.9em;
                text-align: center;
                text-transform: uppercase;
                outline: none;
            }
                #next {
                -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                }
                #next:hover {
                color: seashell;
                box-shadow: 0 0 40px 40px #1b124ed8 inset;
                }
            
                #verificar {
                    background-color: #f7ca4e;
                    border: 2px solid #f7ca4e;
                    border-radius: 0.6em;
                    color: seashell;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: bolder;
                    margin: 10px;
                    padding: 1em 2em;
                    text-align: center;
                    text-transform: uppercase;
                    outline: none;
                }
                #verificar {
                    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    }
                    #verificar:hover {
                    color: seashell;
                    box-shadow: 0 0 40px 40px #1b124ed8  inset;
                    }

         body .clock{
            display: flex;
            justify-content: flex-end;
            top: 0;
            margin: 0;
        }
        #counter{
           position: absolute;
           display: none;
           top: 0;
           color: var(--font-color);
           margin: 25px 5% 10px 10px;
           padding: 3%;
           border: solid 2px  rgb(67, 61, 77);
           background-color:  rgb(67, 61, 77);
           border-radius: 100px; 
            
        } 

        #acertando {
            display: none;
            color: rgb(194, 192, 192);
            border: none;
            background-color: #069;
            height: 3rem;
            width: 12rem;
            border-radius: 5px;
            cursor: pointer;
            margin: 10rem auto;
            text-align: center;
            font-size: 1.5rem;
        }

        #popUp {
        
                background-color: rgb(0, 0, 0, 0.7);
                border-radius: 7px;
                width: 30rem;
                color: white;
                font-weight: bold;
                display: none;
                height: 20rem;
                display: none;
                margin: 2rem auto;
                line-height: 17rem;
        }

/* Hovers */ 

/* incluir os ids dos botões */
#secOne:hover, #secTwo:hover, #secThree:hover, #nobelOne:hover, #nobelTwo:hover, #nobelThree:hover, #raioOne:hover, #raioTwo:hover, #raioThree:hover, #minasOne:hover, #minasTwo:hover, #minasThree:hover, #saddamOne:hover, #saddamTwo:hover, #saddamThree:hover, #indOne:hover, #indTwo:hover, #indThree:hover, #anosOne:hover, #anosTwo:hover, #anosThree:hover, #virusOne:hover, #virusOne:hover, #virusThree:hover, #astroOne:hover, #astroTwo:hover, #astroThree:hover, #inventOne:hover, #inventTwo:hover, #inventThree:hover{
    background-color: rgb(223, 223, 223);
}

#acertando:hover {
    background-color: rgb(6, 98, 129);
}