:root{
    --cor-main-bg:#7C62CE;
    --font-color: seashell;
    --font-family: 'Montserrat', sans-serif;
    --button-color:#130540;
    --color-details:#E0BC0D;
    /* var(--font-color-area-destaque) */
    
}

/* GERAL */
html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
   
}

        body{
            background: #7C62CE;
            

        }
             body header{
                display: flex;
                width: 100vw;
                height: 5vh;
                justify-content: center;
                
            }
            .navBar .logo {
                position: absolute;
                height: 8rem;
                width: 8rem;
                top: -25px;
                left: -25px;
            }

            .navBar .letter{
                
                width: 10rem;
                text-align: center;
            }

            #botaoEntrar {
                cursor: pointer;
            }


        body .loginArea{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 90vh;
        position: relative;
        }
        
        body .loginArea .inputBox{
            margin-top: -10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 8% 5%;
            border: solid 2px #E0BC0D;
            box-shadow: 0px -1px 0px 4px rgba(212,195,85,0.56);
            -webkit-box-shadow: 0px -1px 0px 4px rgba(212,195,85,0.56);
            -moz-box-shadow: 0px -1px 0px 4px rgba(212,195,85,0.56);
        }
            body .loginArea .inputBox input{
            background-color: #251753;
            text-align: center;
            margin: 10% 0 10% 0;
            width: 80%;
            border: none;
            padding: 3%;
            border-radius: 5px;
            color: seashell;
            }

            body .loginArea .inputBox p{
                font-weight: bolder;
                color: seashell;
            }
            body .loginArea .inputBox input::placeholder{
                color: rgb(231, 231, 231);
                
            }
                body .loginArea .inputBox input:hover{
                background-color: #E0BC0D;
                transition: 0.5s;
                }
            body .loginArea .inputBox button{
                padding: 2%;
                width: 30%;
                margin-bottom: 10%;
                border: none;
                border-radius: 5px;
                color: seashell;
                background-color: #0095f6;
                }
                body .loginArea .inputBox button:hover{
                    background-color: #E0BC0D;
                }
                
                body .loginArea .inputBox .smallText{
                    font-size: 0.6rem;
                    letter-spacing: 1px ;
                }

                .clique-here {
                    color: var(--color-details)
                }


        body .svgWaves .waves {
        height: 30vh;
        width: 100vw;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        }
           
            body .svgWaves .wave-1 {
            animation: moveWave1 3s ease-in-out infinite alternate;
            }

            @keyframes moveWave1 {
            from {
            transform: translateX(-2000px);
                }
            }

            body .svgWaves .wave-2 {
            animation: moveWave2 3s 1.2s ease-in-out infinite alternate;
            }

            @keyframes moveWave2 {
            from {
            transform: translateX(-1800px);
                 }
            }

            body .svgWaves .wave-3 {
            animation: moveWave3 3s 0.7s ease-in-out infinite alternate;
            }

            @keyframes moveWave3 {
            from {
            transform: translateX(-1600px);
                 }
            }
        
        body footer{
            display: flex;
            justify-content: center;
           

        }
        body footer .footBar p{
            color: seashell;
            font-weight: lighter;
            margin-top: 2%;
            font-size: 0.7rem;
        }
@media screen and (min-width: 530px) {
    .navBar .letter{
                
        width: 16rem;
        height: 12rem;
    }
    body .svgWaves .waves {
        z-index: -2;
        height: 80vh;
        width: 100vw;

    }
    body .loginArea .inputBox{
        margin-top: 1%;
        padding: 4%;
    }
    body header div img{
        height: 18vh;
        width: 56vw;
    }


    }

@media screen and (min-width: 768px) {

    body .svgWaves .waves {
        z-index: -2;
        height: 80vh;
        width: 100vw;

    }
    body .loginArea .inputBox{
        padding: 4%;
    }

    body header div img{
        height: 22vh;
        width: 37vw;
    }
}

@media screen and (min-width: 1024px){
   
    body .svgWaves .waves {
        height: 90vh;
        width: 100vw;
        z-index: -2;
    }

    body .loginArea .inputBox{
        padding: 3%;
    }

    .navBar .letter{
            
        width: 21.5rem;
        height: 16rem;

    }
    body .loginArea .inputBox .smallText{
     font-size: 0.8rem;
} 
}    