:root{
    --cor-main-bg:#7C62CE;
    --font-color: seashell;
    --font-family: 'Montserrat', sans-serif;
    --button-color:#130540;
    --color-details:#E0BC0D;
    /* var(--font-color-area-destaque) */
    
}

/* GERAL */
html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
   
}

body {
   /* background-color: #582A72; */
   background-color: #F0F0F0;
   background-repeat: no-repeat;
}
    body header{
        display: flex;
        justify-content: center;


    }
        body header .title{
        border: none;
        border-radius: 5px;
        background-color: rgb(67, 61, 77);
        margin-top: 0.6rem;
        width: 20%;
        padding: 1%;
        }

        body header .title h1{
        text-align: center;
        color: var(--font-color);
        }

        body .math-bg{
            z-index: -2;
            position: absolute;
        }
        body .math-bg img{
          
            height: 80vh;
            width: 40vw;
        }

        body #crhonos{
            display: none;
            justify-content: center;
            margin-top: 0.8rem;
           

        }

        body #all {
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 1rem;
        
        }
    
        body h3 {
        color: seashell;
        }   

        #tudo {
            width: 50rem;
            height: 25rem;
            margin-top: 1.6rem;
            border-radius: 10px;
            align-items: center;
            background-color: rgba(104, 101, 101, 0.4);
        }

        
        #questions {
        background-color: rgb(67, 61, 77);
        padding: 0.8rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        border: solid 3px lightgray;
        }

        #buttons {
            text-align: center;  
        }
        
        
        #meses, #math, #mathTwo, #mathThree, #mathFour, #mathFive, #mathSix, #mathSeven, #mathEight {
            display: none;
        }
        
        #amarelo, #verde, #rosa, #sete, #doze, #nove, #meiaSeis, #meiaDois, #meiaQuatro, #dezesseis, #treze, #Doze, #quatroTres, #seteSeis, #oitoDois, #noveReais, #oitoReais, #seisQuatroZero, #quatroSete, #quatroQuatro, #quatroDois, #quatroNoveCinquenta, #vinteCincoCinquenta, #vinteCinco, #setentaPorcento, #meiaCincoPorcento, #quatroZeroPorcento, #doisUmSeis, #umUmTres, #noveDois {
            margin-top: 0.5rem;
            margin: 0.7rem auto;
            text-align: center;
            font-size: 1.2rem;
            height: 64px;
            width: 32rem;
            border: 1px solid #97C274;
            border-radius: 5px;
            cursor: pointer;
            outline: rgb(255, 255, 255);   
            color: rgb(2, 2, 2);
        }

        #textOne, #textTwo,  #textThree {
            margin-top: 0.5rem;
            margin: 0.7rem auto;
            text-align: center;
            font-size: 1.2rem;
            height: 50px;
            width: 28rem;
            border: 1px solid #97C274;
            border-radius: 5px;
            cursor: pointer;
            outline: rgb(255, 255, 255);   
            color: rgb(2, 2, 2);
        }


        
        #amarelo:active, #doze:active,#meiaQuatro:active, #Doze:active, #quatroTres:active, #oitoReais:active, #quatroQuatro:active, #vinteCinco:active, #setentaPorcento:active, #umUmTres:active {
            background-color: green !important;
        }

        #verde:active, #rosa:active, #sete:active, #nove:active, #meiaSeis:active, #meiaDois:active, #dezesseis:active, #treze:active, #seteSeis:active, #oitoDois:active, #seisQuatroZero:active, #noveReais:active, #quatroSete:active, #quatroDois:active, #vinteCincoCinquenta:active, #quatroNoveCinquenta:active, #meiaCincoPorcento:active, #quatroZeroPorcento:active, #doisUmSeis:active, #noveDois:active  {
            background-color: red !important;
        }

        .botoes-verificacao{
            display: flex;
            justify-content: center;
            margin-top: 0;
        }
        /* botão da quinta questão */
        
        #cronometroJs {
            background-color: #4831a3;
            border: 2px solid transparent;
            border-radius: 0.6em;
            color: seashell;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bolder;
            margin: 10px;
            padding: 1em 2em;
            text-align: center;
            text-transform: uppercase;
            outline: none;
        }

    
            #vamo{
                background-color: #6f5d8b;
                border: 2px solid #6f5d8b;
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 0.7rem;
                font-weight: bolder;
                padding: 0.4rem 0.4rem;
                text-align: center;
                text-transform: uppercase;
                outline: none;

            }
    
            #limpar {
                background-color: #6f5d8b;
                border: 2px solid #6f5d8b;
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bolder;
                margin: 10px;
                padding: 1em 2em;
                text-align: center;
                text-transform: uppercase;
                outline: none;
                  }

                  #limpar {
                    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                  }
                  #limpar:hover {
                      color: seashell;
                    box-shadow: 0 0 40px 40px #7467af inset;
                  }
           
        
            #next {
                background-color: #6f5d8b;
                border: 2px solid #6f5d8b;
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bolder;
                margin: 10px;
                padding: 1em 2.9em;
                text-align: center;
                text-transform: uppercase;
                outline: none;
            }
                #next {
                -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                }
                #next:hover {
                color: seashell;
                box-shadow: 0 0 40px 40px #7467af inset;
                }
            
                #verificar {
                    background-color: #6f5d8b;
                    border: 2px solid #6f5d8b;
                    border-radius: 0.6em;
                    color: seashell;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: bolder;
                    margin: 10px;
                    padding: 1em 2em;
                    text-align: center;
                    text-transform: uppercase;
                    outline: none;
                }
                #verificar {
                    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    }
                    #verificar:hover {
                    color: seashell;
                    box-shadow: 0 0 40px 40px #7467af inset;
                    }

        body .clock{
            display: flex;
            justify-content: flex-end;
            top: 0;
            margin: 0;
        }
       
        #counter{
           position: absolute;
           display: none;
           top: 0;
           color: var(--font-color);
           margin: 25px 5% 10px 10px;
           padding: 3%;
           border: solid 2px  rgb(67, 61, 77);
           background-color:  rgb(67, 61, 77);
           border-radius: 100px;

          
            
        }

        #acertando {
            display: none;
            color: rgb(194, 192, 192);
            border: none;
            background-color: #069;
            height: 3rem;
            width: 12rem;
            border-radius: 5px;
            cursor: pointer;
            margin: 10rem auto;
            text-align: center;
            font-size: 1.5rem;
        }

        #popUp {
                background-color: rgb(0, 0, 0, 0.7);
                border-radius: 7px;
                width: 30rem;
                color: white;
                font-weight: bold;
                display: none;
                height: 20rem;
                display: none;
                margin: 2rem auto;
                line-height: 17rem;
        }

/* Hovers */ 
#amarelo:hover, #verde:hover, #rosa:hover, #sete:hover, #doze:hover, #nove:hover, #meiaSeis:hover, #meiaDois:hover, #meiaQuatro:hover, #Doze:hover, #dezesseis:hover, #treze:hover, #quatroTres:hover, #seteSeis:hover, #oitoDois:hover, #textOne:hover, #textTwo:hover,  #textThree:hover, #noveReais:hover, #oitoReais:hover, #seisQuatroZero:hover, #quatroSete:hover, #quatroQuatro:hover, #quatroDois:hover, #quatroNoveCinquenta:hover, #vinteCincoCinquenta:hover, #vinteCinco:hover, #setentaPorcento:hover, #meiaCincoPorcento:hover, #quatroZeroPorcento:hover, #doisUmSeis:hover, #umUmTres:hover, #noveDois:hover  {
    background-color: rgb(223, 223, 223);
}


#acertando:hover {
    background-color: rgb(6, 98, 129);
}