:root{
    --cor-main-bg:#7C62CE;
    --font-color: seashell;
    --font-family: 'Montserrat', sans-serif;
    --button-color:#130540;
    --color-details:#E0BC0D;
    /* var(--font-color-area-destaque) */
    
}

/* GERAL */
html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
   
}

body {
   /* background-color: #582A72; */
   background-color: #F0F0F0;
   background-repeat: no-repeat;
}
    body header{
        display: flex;
        justify-content: center;


    }
        body header .title{
        border: none;
        border-radius: 5px;
        background-color: #130059;
        margin-top: 0.6rem;
        width: 20%;
        padding: 1%;
        }

        body header .title h1{
        text-align: center;
        color: var(--font-color);
        }

        body .math-bg{
            z-index: -2;
            position: absolute;
        }
        body .math-bg img{
          
            height: 80vh;
            width: 40vw;
        }


        body #crhonos{
            display: none;
            justify-content: center;
            margin-top: 0.8rem;
           

        }
        body #progress{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 0;
            height: 1.5rem;
            width: 40rem;
            border: solid 2px black;
            border-radius: 15px;
            background-color: lightgray;
            position: relative;
        }
        
        body #progress #progress-bar{
           position: absolute;
           height: 99%;
           border-radius: 15px;
           background-color: #add555;
           animation: progress-animation 60s normal;
        }
        body .progress-bar::before{
            content: "";
            
            transition: 0.4s linear;
        }

    
        
        @keyframes progress-animation{
            0% { width: 0%; background-color: #add555;}
            30% { width: 45%; background-color: yellow;}
            50% { width: 75%; background-color: coral;}
            100% { width: 100%; background-color: red;}
        } 

        body #all {
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 1rem;
        
        }
    
        body h3 {
        color: seashell;
        }   

        #tudo {
            width: 50rem;
            height: 25rem;
            margin-top: 1.6rem;
            border-radius: 10px;
            align-items: center;
            background-color: rgba(104, 101, 101, 0.4);
        }

        
        #questions {
        background-color: #130059;
        padding: 1.3rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        border: solid 3px lightgray;
        }

        #buttons {
            text-align: center;  
        }

        #meses, #math, #mathTwo, #mathThree, #mathFour, #mathFive, #mathSix, #mathSeven, #mathEight, #quimTwo, #quimThree, #quimFour, #quimFive, #quimSix, #quimSeven, #quimEight, #quimNine, #quimTen {
        display: none;
        transition: 1s !important;
        }

        #amarelo, #verde, #rosa, #sete, #doze, #nove, #meiaSeis, #meiaDois, #meiaQuatro, #dezesseis, #treze, #Doze, #quatroTres, #seteSeis, #oitoDois, #textOne, #textTwo,  #textThree, #noveReais, #oitoReais, #seisQuatroZero, #quatroSete, #quatroQuatro, #quatroDois, #quatroNoveCinquenta, #vinteCincoCinquenta, #vinteCinco, #setentaPorcento, #meiaCincoPorcento, #quatroZeroPorcento, #estomago, #figado, #pancreas, #vaporizacao, #fusao, #condesacao, #agua, #hidro, #oxi, #fusaoOne, #fusaoTwo, #fusaoThree, #misturaOne, #misturaTwo, #misturaThree, #energiaOne, #energiaTwo, #energiaThree, #energiaOne, #energiaTwo, #energiaThree, #formulaOne, #formulaTwo, #formulaThree, #dinoOne, #dinoTwo, #dinoThree {
        margin-top: 0.5rem;
        margin: 1.1rem auto;
        text-align: center;
        font-size: 1.2rem;
        height: 64px;
        width: 28rem;
        border: 1px solid #97C274;
        border-radius: 5px;
        cursor: pointer;
        outline: rgb(255, 255, 255);   
        color: rgb(2, 2, 2);
        }

        #falso:active, #figado:active, #condesacao:active, #agua:active, #fusaoOne:active, #misturaThree:active, #energiaThree:active, #formulaTwo:active, #fotoThree:active, #dinoOne:active {
            background-color: green !important;
        } 

        #verdadeiro:active, #estomago:active, #pancreas:active, #fusao:active, #vaporizacao:active, #hidro:active, #oxi:active, #fusaoTwo:active, #fusaoThree:active, #misturaOne:active, #misturaTwo:active, #energiaTwo:active, #energiaOne:active, #formulaOne:active, #formulaThree:active, #fotoTwo:active, #fotoOne:active, #dinoTwo:active,  #dinoThree:active {
            background-color: red !important;
        } 

        #fotoOne, #fotoTwo, #fotoThree {
            margin: 0.5rem auto;
            font-size: 1.2rem;
            cursor: pointer;
            height: 85px;
            width: 37rem;
            border: 1px solid #97C274;
            border-radius: 5px;
            cursor: pointer;
            outline: rgb(255, 255, 255);   
            color: rgb(2, 2, 2);
        }

        #verdadeiro, #falso {
            margin: 1.7rem auto;
            font-size: 1.2rem;
            cursor: pointer;
            height: 60px;
            width: 32rem;
            border: 1px solid #97C274;
            border-radius: 5px;
            cursor: pointer;
            outline: rgb(255, 255, 255);   
            color: rgb(2, 2, 2);
        }

        .botoes-verificacao{
            display: flex;
            justify-content: center;
            margin-top: 0;
        }
            /* botão da quinta questão */
            
            #vamo{
                background-color: #130059;
                border: 2px solid #130059;
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 0.7rem;
                font-weight: bolder;
                padding: 0.4rem 0.4rem;
                text-align: center;
                text-transform: uppercase;
                outline: none;

            }
    
            #limpar {
                background-color: #130059;
                border: 2px solid transparent;
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bolder;
                margin: 10px;
                padding: 1em 2em;
                text-align: center;
                text-transform: uppercase;
                outline: none;
                  }

                  #limpar {
                    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                  }
                  #limpar:hover {
                      color: seashell;
                    box-shadow: 0 0 40px 40px #627db8 inset;
                  }
           
        
            #next {
                background-color: #130059;
                border: 2px solid transparent;
                border-radius: 0.6em;
                color: seashell;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bolder;
                margin: 10px;
                padding: 1em 2.9em;
                text-align: center;
                text-transform: uppercase;
                outline: none;
            }
                #next {
                -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                }
                #next:hover {
                color: seashell;
                box-shadow: 0 0 40px 40px #627db8 inset;
                }
            
                #verificar{
                    background-color: #130059;
                    border: 2px solid transparent;
                    border-radius: 0.6em;
                    color: seashell;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: bolder;
                    margin: 10px;
                    padding: 1em 2em;
                    text-align: center;
                    text-transform: uppercase;
                    outline: none;
                }

                #cronometroJs {
                    background-color: #8077a3;
                    border: 2px solid transparent;
                    border-radius: 0.6em;
                    color: seashell;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: bolder;
                    margin: 10px;
                    padding: 1em 2em;
                    text-align: center;
                    text-transform: uppercase;
                    outline: none;
                }

                #verificar {
                    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
                    }
                    #verificar:hover {
                    color: seashell;
                    box-shadow: 0 0 40px 40px #627db8 inset;
                    }

        body .clock{
            display: flex;
            justify-content: flex-end;
            top: 0;
            margin: 0;
        }
        #counter{
           position: absolute;
           display: none;
           top: 0;
           color: var(--font-color);
           margin: 25px 5% 10px 10px;
           padding: 3%;
           border: solid 2px #130059;
           background-color: #130059;
           border-radius: 100px;

          
            
        }
        /* #fotoOne, #fotoTwo, #fotoThree {
        width: 480px;
        height: 78px;
} */




#acertando {
    display: none;
    color: rgb(194, 192, 192);
    border: none;
    background-color: #069;
    height: 3rem;
    width: 12rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 10rem auto;
    text-align: center;
    font-size: 1.5rem;
}

#popUp {

        background-color: rgb(0, 0, 0, 0.7);
        border-radius: 7px;
        width: 30rem;
        color: white;
        font-weight: bold;
        display: none;
        height: 20rem;
        display: none;
        margin: 2rem auto;
        line-height: 17rem;
}

/* Hovers */ 
#amarelo:hover, #verde:hover, #rosa:hover, #sete:hover, #doze:hover, #nove:hover, #meiaSeis:hover, #meiaDois:hover, #meiaQuatro:hover, #Doze:hover, #dezesseis:hover, #treze:hover, #quatroTres:hover, #seteSeis:hover, #oitoDois:hover, #textOne:hover, #textTwo:hover,  #textThree:hover, #noveReais:hover, #oitoReais:hover, #seisQuatroZero:hover, #quatroSete:hover, #quatroQuatro:hover, #quatroDois:hover, #quatroNoveCinquenta:hover, #vinteCincoCinquenta:hover, #vinteCinco:hover, #setentaPorcento:hover, #meiaCincoPorcento:hover, #quatroZeroPorcento:hover, #verdadeiro:hover, #falso:hover, #estomago:hover, #figado:hover, #pancreas:hover, #vaporizacao:hover, #fusao:hover, #condesacao:hover, #agua:hover, #hidro:hover, #oxi:hover, #fusaoOne:hover, #fusaoTwo:hover, #fusaoThree:hover, #misturaOne:hover, #misturaTwo:hover, #misturaThree:hover, #energiaOne:hover, #energiaTwo:hover, #energiaThree:hover, #energiaOne:hover, #energiaTwo:hover, #energiaThree:hover, #formulaOne:hover, #formulaTwo:hover, #formulaThree:hover, #fotoOne:hover, #fotoTwo:hover, #fotoThree:hover, #dinoOne:hover, #dinoTwo:hover, #dinoThree:hover  {
    background-color: rgb(223, 223, 223);
}

#acertando:hover {
    background-color: rgb(6, 98, 129);
}