:root{
    --cor-main-bg:#7C62CE;
    --font-color: seashell;
    --button-color:#130540;
    --color-details:#E0BC0D;
    /* var(--font-color-area-destaque) */
    
}


/* GERAL */
html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
   
}

body{
    
    display: flex;
    flex-direction: column;
    color: blanchedalmond;
    background-color: rgb(13,12,60);
    background-color: linear-gradient(175deg, rgba(13,12,60,1) 5%, rgba(35,17,92,1) 30%, rgba(56,13,85,0.9752275910364145) 76%);

}   

    body .top a{
        opacity: 0;
        text-decoration: none;
    }
            .menu{
                background-color: var(--cor-main-bg);
                border-radius: 50px;
                position: absolute;
                width: 40px;
                height: 40px;
                top: 5px;
                left: 5px;
                cursor: pointer;
                box-shadow: 0 0 0 0 #7C62CE, 0 0 0 0 #7C62CE;
                transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1);
               
            }
                .menu:hover {
                box-shadow: 0 0 0 3px #7C62CE, 0 0 0 4px #7C62CE;
                }

                body .menu-bur{
                    position: absolute;
                    top: 35%;
                    left: 5%;
                    list-style: none;
                    font-size: 0.8rem;
                    opacity: 0;
                    transition: 0.25s 0.1s cubic-bezier(0, 1.07, 0, 1.02);
                    z-index: 2;
                  }
                  body .menu-bur li{
                      margin-bottom: 2rem;
                  }
                  
                  body .menu-bur .linkTop {
                    color: #F7CA18;
                    width: 9.79rem;
                    padding: 0.5rem 0 0.5rem;
                    border: solid 2px;
                    display: block;
                    text-align: center;
                    margin-bottom: -1em;
                    text-decoration: none;
                    text-transform: uppercase;
                  }
                  .hamburguer{
                      
                    position: relative;
                    display: block;
                    background: white;
                    width: 20px;
                    height: 2px;
                    top: 18px;
                    left: 10px;
                    transition: 0.5s ease-in-out;
                }
                .hamburguer::before,
                .hamburguer::after{
                    
                    background: white;
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transition: 0.5s ease-in-out;
                }
    
                .hamburguer::before{
                    top: -8px;
                    
                }
    
                .hamburguer::after{
                    bottom: -8px;
                    }

                    input{
                        display: none;
                    }
        
                    input:checked ~ label .hamburguer{
                        transform: rotate(45deg);
                    }
                    
                    input:checked ~ label .hamburguer::before{
                        transform: rotate(90deg);
                        top: 0;
                    }

                    input:checked ~ label .hamburguer::after{
                        transform: rotate(90deg);
                        bottom: 0;
                    }

                    input:checked ~ label .menu {
                        
                        box-shadow: 0 0 0 115vw #7C62CE, 0 0 0 115vh #7C62CE;
                    }

                    input:checked ~ ul {
                        
                        opacity: 1;
                    }
   

        body .mainArea{
        color: lightgray;
        width: 100vw;
        height: 100vh;
        display: inline-block;
        position: absolute;
        z-index: -1;
        opacity: 0.5;
        }
        
            body .mainArea img{
                height: 100%;
                width: 100%;
            }

            body .main-components{
                font-family: 'Montserrat', Arial, Helvetica, sans-serif;
                display: flex;
                flex-direction: column;
                height: 100vh;
            }
               
                body .main-components .line{
                    border-right: 2px solid whitesmoke;
                    margin: 10rem 0% 1% 3%;
                    font-size: 3em;
                    white-space: nowrap;
                    overflow: hidden;
                    color: none;
                    color: lightgray;
                }

                .typing-animation{
                    animation: blink 500ms steps(40) infinite normal, digitacao 4s 1s infinite;
                }

                @keyframes digitacao {
                    from{
                        width: 0;
                    }
                    to{
                        width: 6em;
                    }

                }

                @keyframes blink {
                    from{

                        border-right-color: whitesmoke;
                    }
                    to{
                        border-right-color: transparent 
                    }   
                }
                body .main-components h3{
                    font-weight: normal;
                    font-size: 1.5rem;
                    color: lightgray;
                    margin: 0% 0px 6% 4%;

                }
                body .main-components button{
                background-color: transparent;
                font-size: bolder;
                text-transform: uppercase;
                color: #F7CA18;
                width: 10rem;
                margin: 0% 0% 0% 5%;
                padding: 0.5rem;
	            cursor: pointer;
	            display: block;
	            position: relative;
	            border: 2px solid #F7CA18;
	            transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

                }
                body .main-components button:hover{
                    color: #000;
	                background-color: transparent;
                }
                body .main-components button:hover:before {
                    top: 0%;
                    bottom: auto;
                    height: 100%;
                }
                body .main-components button:before {
                    display: block;
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    height: 0px;
                    width: 100%;
                    z-index: -1;
                    content: '';
                    color: #000;
                    background: #F7CA18;
                    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
                }

            body .ani-section{
                margin: 0.5rem 0.5rem 0.5rem 0.5rem;
                background-color: rgba(255, 247, 247, 0.26);
                display: flex;
                height: 100vh;
            }
            
              
              
                body .ani-section .conteudoE{
                    color: lightgray;
                    width: 45%;
                    margin-left: 1rem;
                }
                body .ani-section .conteudoE img{
                    margin-top: 4.5rem;
                    height: 65vh;
                    width: 45vw;
                    border: solid 3px #F7CA18;
                    animation: go-back 1s;
                }
                body .ani-section .conteudoD{
                    margin-left: 2rem;
                    width: 45vw;
                    height: 90vh;

                }
                body .ani-section .conteudoD .conteudoy img{
                    width: 7.5rem;
                    margin: 2rem 0 0rem 1rem;
                    animation: go-back 2s;

                }


                body .ani-section .conteudoD .conteudoz img{
                    width: 7.5rem;
                    margin: 2rem 0 0 1rem;
                    animation: go-back 2s;

                }
                body .ani-section .conteudoD .conteudox img{
                    width: 7.5rem;
                    margin: 2rem 0 0 1rem;
                    animation: go-back 2s;
                }

                @keyframes go-back {
                    from {
                      transform: translateX(100px);
                    }
                    to {
                      transform: translateX(0);
                    }
                  } 
               

            body .features{
                font-family: 'Fira Sans', sans-serif;
                margin: 0.5rem 0.5rem 0.5rem 0.5rem;
                display: flex;
                flex-direction: column;
                color: lightgray;

            }
                body .features .disciplinas{
                    font-size: 0.8rem;
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    background-color: rgb(233, 231, 235);
                    box-shadow: 3px 0px 0px rgb(233, 231, 235);
                    border-radius: 25px;
                    width: 15rem;
                    height: 25rem;
                    margin-top: 4rem;
                }
               
                body .features .disciplinas-img{
                    display: flex;
                    justify-content: center;
                    
                }
                body .features .disciplinas-img img{
                    width: 8rem;
                    border-radius: 20px;
                    position: absolute;
                }
                body .features .disciplinas h3{
                    text-align: center;
                    margin-bottom: 1rem;
                    color: #069;
                    margin-top: 7rem;
                    font-size: 2em;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                body .features .disciplinas p{
                    font-size: 1em;
                    text-align: center;
                    margin: 0 1rem;
                    font-size: 1.5em;
                    color: #0d0925;
                }
                

                body .features .difficult{
                    font-size: 0.8rem;
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    background-color: rgb(233, 231, 235);
                    box-shadow: 3px 0px 0px rgb(233, 231, 235);
                    border-radius: 25px;
                    width: 15rem;
                    height: 25rem;
                    margin-top: 6rem;
                }
                body .features .difficult-img{
                    display: flex;
                    justify-content: center;
                }
                body .features .difficult-img img{
                    width: 8rem;
                    border-radius: 20px;
                    margin-top: -4rem;
                    
                }
                body .features .difficult h3{
                    text-align: center;
                    margin-bottom: 1rem;
                    color: #069;
                    margin-top: 1rem;
                    font-size: 2em;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                body .features .difficult p{
                    font-size: 1em;
                    text-align: center;
                    margin: 0 1rem;
                    font-size: 1.5em;
                    color: #0d0925;
                }

                body .features .statistics{
                    font-size: 0.8rem;
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    background-color: rgb(233, 231, 235);
                    box-shadow: 3px 0px 0px rgb(233, 231, 235);
                    border-radius: 25px;
                    width: 15rem;
                    height: 25rem;
                    margin-top: 6rem;
                }
                body .features .statitics-img{
                    display: flex;
                    justify-content: center;
                }
                body .features .statitics-img img{
                    width: 8rem;
                    border-radius: 20px;
                    margin-top: -4rem;
                }
                body .features .statistics h3{
                    text-align: center;
                    margin-bottom: 1rem;
                    color: #069;
                    margin-top: 1rem;
                    font-size: 2em;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                body .features .statistics p{
                    font-size: 1em;
                    text-align: center;
                    margin: 0 1rem;
                    font-size: 1.5em;
                    color: #0d0925;
                }
                
            body .desenvolvedores{
                display: flex;
                width: 100vw;
                height: 32vh;
                margin: 0.5rem 0.5rem 0 0.5rem;
                background-color: rgba(255, 247, 247, 0.26);
            }

            body .circle{
                width: 150px;
                height: 150px;
                border: 5px solid #e342f538;
                border-top-color: #b241be;
                border-radius: 100px;
                animation: spin 3s infinite;
            }

            @keyframes spin {
                to{ transform: rotate(360deg); }
                }
                body .desenvolvedores .cristiano{
                    margin: 1rem 0 0 1.5rem;
                    display: flex;
                    width: 45vw;
                }
                body .desenvolvedores .cristiano img{
                    background-color: #292929b9;
                    margin: 0.2rem;
                    border-radius: 100px;
                    position: absolute;
                    height: 145px;
                    width: 145px;
                }
            body .desenvolvedores .wess{
                margin: 1rem;
                display: flex;
                width: 45vw;
            }
            body .desenvolvedores .wess img{
                background-color: #292929b9;
                margin: 0.2rem;
                border-radius: 100px;
                position: absolute;
                height: 145px;
                width: 145px;
            }

                body .status{
                display: flex;
                justify-content: space-around;
                font-family: 'Girassol', cursive;;
                width: 100vw;
                height: 20vh;
                margin: 0rem 0.5rem 0.5rem 0.5rem;
                background-color: rgba(255, 247, 247, 0.26);
            }
            body .status .ladoD p{
                color: seashell;
                margin: 1rem 0.5rem 0 0; 
                 
            }
            body .status .ladoD img{
                margin: 1rem 0 0.5rem 0.6rem;
                width: 1.5rem;
            
            }
            body .status .ladoE img{
                margin: 1rem 0 0.5rem 1rem;
                width: 1.5rem;
            }
            body .status .ladoE p{
                font-size: 1rem;
                color: seashell;
                margin: 1rem 0.5rem 0 0.5rem;
            }
          
@media (min-width: 568px){
    .menu{
        display: none;
    }

    body .top{
        display: flex;
        flex-direction: row-reverse;
        position: fixed;
        z-index: 2;
        background-color: rgba(255, 247, 247, 0.76);
        height: 8vh;
        width: 100vw;
        transition: all 1s;
        cursor: pointer;
        
        }
        body .top a{ 
            font-family: "Montserrat",Arial, Helvetica, sans-serif;
            margin: 0 1rem 0 0;
            color: #4f3c8b;
            padding: 0.8rem;
            text-decoration: none;
            opacity: 1;
        }
        body .top a:hover{
            border-bottom: solid 5px  #4f3c8b;
            transition: 0.1s ease-in-out;
        }

            body .top .img{


            }
            body .main-components{
                margin-bottom: 4rem;
            }

            body .ani-section .conteudoD .conteudox img {
                width: 9rem;
                margin: 2rem 0 0 3rem;
            }
            body .ani-section .conteudoD .conteudoy img {
                width: 9rem;
                margin: 2rem 0 0 3rem;
            }
            body .ani-section .conteudoD .conteudoz img {
                width: 9rem;
                margin: 2rem 0 0 3rem;
            }
            body .ani-section .conteudoE img{
                margin-top: 3.5rem;
                height: 80vh;
            }
            body .desenvolvedores .cristiano {
                margin: 1rem 0 0 4.5rem;
            }
            body .desenvolvedores .wess {
                margin: 1rem 0 0 3rem;
            }
}

@media (min-width: 980px){
    body{
        overflow-x: hidden;
    }
    body .top {
        width: 100vw;
}

body .main-components .line {
    font-size: 5em;
}
body .main-components h3 {
    font-size: 2em;
}
body .ani-section .conteudoE img {
    margin-left: 8rem;
    width: 25vw;
    margin-top: 2rem;
    height: 90vh;
}
body .ani-section .conteudoD .orientation{
    columns: 2;
}
body .ani-section .conteudoD .conteudox img {
    width: 13rem;
    margin: 12rem 0 0 1rem;
}
body .ani-section .conteudoD .conteudoy img {
    width: 13rem;
    margin: 4rem 0 0 1rem;
}
body .ani-section .conteudoD .conteudoz img {
    width: 13rem;
    margin: 4rem 0 0 1rem;
}
body .features{
    flex-direction: row;
    justify-content: space-evenly;
    width: 93vw;
    margin-bottom: 2rem;
}
body .features .disciplinas {
    margin-top: 6rem;
}
body .features .disciplinas-img img {
    width: 8rem;
    margin: 2rem 0rem 0rem 14.5rem;
}
body .features .disciplinas h3 {
    margin-top: 6rem;
}
body .desenvolvedores .cristiano {
    margin: 1rem 0 0 29rem;
}

body .desenvolvedores .wess {
    margin: 1rem 0 0 -21rem;
}

body .status{
    justify-content: center;
}
body .status .ladoE p {
    font-size: 2rem;

}

body .status .ladoE img {
    width: 2rem;
    margin-left: 3rem;
    
}
body .status .ladoD p {
    font-size: 2rem;
    
}
body .status .ladoD img {
    width: 2rem;
    margin-left: 2.5rem;
    
}


}